@charset "utf-8";
@import url("../webfonts/Apple_Pro/stylesheet.css");
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
	overflow: hidden;
}

img {
    display: block;
}

#Nav {
	display: flex;
	width: 100%;
	border-bottom: 2px solid #000000;
	height: 38px;
	align-items: center;
}

.NavElement {
	display: flex;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

#Button_left {
    background-color: #FFFFFF;
    width: 76px;
	height: inherit;
	justify-content: center;
}

#NavCloseIMG {
	align-self: center;
}

#Title_center {
    flex-grow: 1;
    background-color: #4F59F7;
}

#Button_right1 {
    background-color: #FFFFFF;
    width: 74px;
	height: inherit;
	justify-content: center;
}

#ArrowDownIMG {
	align-self: center;
}

#Button_right2 {
    background-color: #FFFFFF;
    width: 75px;
	height: inherit;
	justify-content: center;
}

#ArrowUpIMG {
	align-self: center;
}

#Title {
    font-family: 'Apple Pro', Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    color: #FFFFFF;
    background-color: #000000;
    text-transform: capitalize;
    margin: auto;
    padding: 10px 5px;
    font-size: 20pt;
}

#INav2 {
	display: flex;
    background-color: #0FEEFD;
	height: 35px;
	border-bottom: 2px solid #000000; 
	align-items: center;
}

.Nav2 {
	display: flex;
}

#DivCloseIMG {
	justify-content: center;
}

#CloseIMG {
	align-self: center;
	margin-right: 69px;
	margin-left: 41px;
}

h2 {
    font-family: 'Apple Pro', Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    color: #000000;
    text-align: center;
    margin: 0px 15px 0px 0px;
    font-size: 14pt;
	vertical-align: middle;
}

h2::first-letter {
    text-decoration: underline;
}

p {
	font-family: 'Apple Pro', Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    color: #000000;
    text-transform: capitalize;
    font-size: 14pt;
}
